.mainpage {
  padding: 5px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainheader {

}

.mainbody {
  flex: 1;
  overflow: scroll;
}

.mainfooter {

}

.path-container {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

button.open {
  margin-right: 5px;
  font-size: 12pt;
  padding: 2px;
  height: 30px;
}

.refresh {
  margin-right: 5px;
}

.path {
  font-size: 12pt;
  background-color: #FFF2CC;
  border-color: #D6B656;
  outline-color: #D6B656;
  outline-width: 2px;
  border-width: 5px;
  border-radius: 5px;
  flex: 1;
  display: inline-block;
  padding: 2px;
  height: 30px;
}

#file_targets th {
  padding: 2px;
}

#file_targets td {
  padding: 2px;
}

.table {
  font-size: 8pt;
}

.spantext {
  flex: 1;
  display: inline-block;
}

.entry-item {
  display: flex;
  flex-direction: row;
}

.entry-item button {
  margin-right: 5px;
  font-size: 10pt;
}

.button-bar {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.button-bar :not(:first-child) {
  margin-left: 5px;
}

.button-bar button {
  font-size: 12pt;
  padding: 2px;
  height: 30px;
}

#pattern_targets {
  height: 50vh;
  overflow-y: scroll;
  display: block;
}

#pattern_targets th {
  padding: 2px;
}

#pattern_targets td {
  padding: 2px;
}

#ignores {
  height: 50vh;
  overflow-y: scroll;
  display: block;
}

#ignores th {
  padding: 2px;
}

#ignores td {
  padding: 2px;
}

.tablemodal {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0,0,0,0.4);
}

#ignoresmodal {
  z-index: 1001;
}

.tablemodalcontent {
  margin: 5% auto; /* 15% from the top and centered */
  border: 1px solid #888;
}